<?xml version="1.0"?>
<config>
  <modules>
    <BlueAcorn_Greenspec>
      <!-- declare module's version information for database updates -->
      <version>0.0.1</version>
    </BlueAcorn_Greenspec>
  </modules>

  <global>
    <models>
      <greenspec>
	<class>BlueAcorn_Greenspec_Model</class>
      </greenspec>
    </models>

    <resources>
      <greenspec_setup>
    	<setup>
    	  <module>BlueAcorn_Greenspec</module>
    	  <class>BlueAcorn_Greenspec_Model_Resource_Setup</class>
    	</setup>
      </greenspec_setup>
    </resources>


    <sales>
      <quote>
	<totals>
	  <greenspec_nextday>
	    <class>greenspec/sales_quote_address_total_bonus</class>
	  </greenspec_nextday>
	</totals>
      </quote>
    </sales>

    <fieldsets>
      <sales_convert_quote_address>
        <greenspec_bonus_amount><to_order>*</to_order></greenspec_bonus_amount>
        <greenspec_bonus_base_amount><to_order>*</to_order></greenspec_bonus_base_amount>
      </sales_convert_quote_address>
    </fieldsets>

  </global>

  <default>
    <payment>
      <greenspec>
        <active>1</active>
        <model>greenspec/paymentMethod</model>
        <order_status>processing</order_status>
        <title>Greenspec Payment Method</title>
      </greenspec>
    </payment>
  </default>

</config>
