<?xml version="1.0"?>
<config>
  <modules>
    <BlueAcorn_Greenspec>
      <!-- declare module's version information for database updates -->
      <version>0.0.1</version>
    </BlueAcorn_Greenspec>
  </modules>

  <global>
    <blocks>
        <ba_greenspec>
            <class>BlueAcorn_Greenspec_Block</class>
        </ba_greenspec>
        <poll>
            <rewrite>
                <activePoll>BlueAcorn_Greenspec_Block_ActivePoll</activePoll>
            </rewrite>
        </poll>
    </blocks>

    <models>
      <ba_greenspec>
        <class>BlueAcorn_Greenspec_Model</class>
      </ba_greenspec>
    </models>

    <helpers>
      <ba_greenspec>
        <class>BlueAcorn_Greenspec_Helper</class>
      </ba_greenspec>
    </helpers>


    <resources>
      <greenspec_setup>
    	<setup>
    	  <module>BlueAcorn_Greenspec</module>
    	  <class>BlueAcorn_Greenspec_Model_Resource_Setup</class>
    	</setup>
      </greenspec_setup>
    </resources>


    <!-- Add Collector to quote object -->
    <sales>
      <quote>
        <totals>
          <greenspec>
            <class>ba_greenspec/sales_quote_address_total_discount</class>
            <after>weee,discount,tax,tax_subtotal,grand_total</after>
            <before>giftcardaccount,customerbalance</before>
          </greenspec>
        </totals>
      </quote>
    </sales>

    <fieldsets>
      <sales_convert_quote_address>
        <greenspec_bonus_amount><to_order>*</to_order></greenspec_bonus_amount>
        <greenspec_bonus_base_amount><to_order>*</to_order></greenspec_bonus_base_amount>
      </sales_convert_quote_address>
    </fieldsets>

    <events>

      <cms_page_render>
	<observers>
	  <blueacorn_disabler>
	    <class>BlueAcorn_Greenspec_Model_Observer</class>
	    <method>checkCMSPage</method>
	    <type>singleton</type>
	  </blueacorn_disabler>
	</observers>
      </cms_page_render>

    </events>

      <template>
          <email>
              <poll_coupon_template module="ba_greenspec">
                  <label>10% Coupon for Poll Participation</label>
                  <file>poll_coupon.html</file>
                  <type>html</type>
              </poll_coupon_template>
          </email>
      </template>
  </global>

  <frontend>
      <routers>
          <greenspec>
              <use>standard</use>
              <args>
                  <module>BlueAcorn_Greenspec</module>
                  <frontName>greenspec</frontName>
              </args>
          </greenspec>
      </routers>
      <layout>
          <updates>
              <greenspec>
                  <file>greenspec.xml</file>
              </greenspec>
          </updates>
      </layout>
  </frontend>

  <default>
    <payment>
      <greenspec>
        <active>1</active>
        <model>ba_greenspec/greenspec</model>
        <order_status>pending</order_status>
        <title>Greenspec</title>
        <cctypes>AE,VI,MC,DI,SS</cctypes>
        <payment_action>authorize_capture</payment_action>
        <allowspecific>0</allowspecific>
      </greenspec>
    </payment>
  </default>

  <sections>
      <customer></customer>
  </sections>

</config>
