<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_GreenspecDiscounts>
            <version>0.1.0</version>
        </BlueAcorn_GreenspecDiscounts>
    </modules>
    <global>
        <models>
            <blueacorn_greenspecdiscounts>
                <class>BlueAcorn_GreenspecDiscounts_Model</class>
            </blueacorn_greenspecdiscounts>
            <salesrule>
                <rewrite>
                    <quote_discount>BlueAcorn_GreenspecDiscounts_Model_SalesRule_Quote_Discount</quote_discount>
                    <validator>BlueAcorn_GreenspecDiscounts_Model_SalesRule_Validator</validator>
                </rewrite>
            </salesrule>
            <sales>
                <rewrite>
                    <order>BlueAcorn_GreenspecDiscounts_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <blueacorn_greenspecdiscounts>
                <class>BlueAcorn_GreenspecDiscounts_Block</class>
            </blueacorn_greenspecdiscounts>
        </blocks>
        <helpers>
            <blueacorn_greenspecdiscounts>
                <class>BlueAcorn_GreenspecDiscounts_Helper</class>
            </blueacorn_greenspecdiscounts>
        </helpers>
        <resources>
            <blueacorn_greenspecdiscounts_setup>
                <setup>
                    <module>BlueAcorn_GreenspecDiscounts</module>
                </setup>
            </blueacorn_greenspecdiscounts_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <shipping_discount>
                        <class>blueacorn_greenspecdiscounts/sales_quote_address_total_shippingDiscount</class>
                        <after>shipping</after>
                        <before>grand_total</before>
                    </shipping_discount>
                </totals>
            </quote>
        </sales>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <blueacorn_greenspecdiscounts_model_observer>
                        <type>model</type>
                        <class>BlueAcorn_GreenspecDiscounts_Model_Observer</class>
                        <method>modifySelectOptions</method>
                    </blueacorn_greenspecdiscounts_model_observer>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
        </events>
    </adminhtml>
</config>